*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: system-ui;
    font-weight: 400;
}


.chess_table {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg , rgb(124,0,123) 10vw , rgb(0 , 0 , 0) 10vw ,rgb(0 , 0 , 0) 20vw);
    background-size: 20vw 20vh;
    background-repeat: round;
    height: 20vh;
}

.chess_table:nth-child(even) {
    background-image: linear-gradient(90deg , rgb(0,0,0) 10vw , rgb(124 , 123 , 0) 10vw ,rgb(124 , 123 , 0) 20vw);
}

