*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: system-ui;
    font-weight: 400;
    background-color: rgb(245, 119, 119);
}

.center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.heading_primary{
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1.4;
    padding: 2rem 0rem;
    transition: all .5s;
    color: #fff;
}

.heading_primary:hover{
    text-shadow: 0 1px 0 #ccc , 0 2px 0 #ccc , 0 3px 0  #ccc, 0 4px 0 #ccc , 0 10px 12px rgba(0, 0, 0, .3);
    background: rgba(0 , 0 , 0 , .2);
}